@import "tailwindcss";


.leaflet-control-attribution {
  display: none;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 10 !important;
}

.leaflet-pane {
  z-index: 1 !important;
}

@theme {
  --animate-shine: shine 3s infinite;
  @keyframes shine {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(200%);
    }
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #166aa8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #115585; /* Slightly darker shade for hover */
}

